*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;

    font-family: 'Merriweather Sans', sans-serif;
}
body {
    background-color: #21202A;
    flex-direction: row;
    display: flex;
    gap: 3vw;
    color: #837E9F;;
}
/* Box Direita */
.left-box {
    height: 100vh;
    width: 24vw;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5vw;
    margin-left: 20px;
  }
/* Perfil */
.profile {
    margin-top: 30px;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    background-color: #302F3D;
    font-size: 2rem;
    box-shadow: 0.2em 0.2em 4px #11111171;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.imgprofile {
    display: flex;
    justify-content: center;
    height: 55%;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: 700;
}

.front {
    font-size: 13px;
    font-weight: 400;

}
/* Informações*/
.info {
    height: 430px;
    width: 400px;
    border-radius: 20px;
    background-color: #302F3D;
    box-shadow: 0.2em 0.2em 4px #11111171;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    display: flex;
    margin-left: 30px;
    margin-right: 10px;
    flex-direction: column;
    gap: 15px;
}

.infotxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    
}
/*Tecnologias */
.tecno {
    margin-bottom: 20px;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    font-size: 2rem;
    background-color: #302F3D;
    box-shadow: 0.2em 0.2em 4px #11111171;
    display: flex;
    flex-direction: column;
  
    }

.titulotec {
        margin-top: 20px;
        margin-left: 20px; 
        font-weight: 600;
        border: 1px solid transparent;
        font-size: 22px;
        gap: 20px;
    }

.tecbox {
    margin-top: 15px;
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
    gap: 7px;

}

.tecs {
    font-family:'Merriweather Sans', sans-serif;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 90px;
    height: 25px;
    border-radius: 20px;
    background-color: #CB92B1;;;
}
/* Grande Caixa */
.bigbox {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 75vw;
    align-items: center;
    gap: 25px;
}
/* Meus projetos */
.projectsbox {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 95%;
    background-color: #302F3D;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0.2em 0.2em 4px #11111171;
    }

.projecttxt {
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.all {
    font-size: 14px;
    display: flex;
    margin-right: 20px;
}
/* Repositorios*/
.onixbox {
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 95%;
    gap: 0.5vw
}

.onix1 {
    height: 170px;
    width: 670px;
    border-radius: 20px;
    background-color: #302F3D;
    box-shadow: 0.2em 0.2em 4px #11111171;
    display: flex;
    flex-direction: column;
    gap: 20px;

   
}

.folder {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    height:40px;
    width: 200px;
    font-weight: 600;
}

.onixtxt {
    margin-left: 20px;
    height:30px;
    width: 600px;
    font-size: 15px;
}

.star {
    gap: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    height:40px;
    width: 93%;
    font-size: 13px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    height:30px;
    width: 150px;
    gap: 5px;
}

.circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #837E9F;;;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: yellow;
}

.onix2 {
    height: 170px;
    width: 670px;
    border-radius: 20px;
    background-color: #302F3D;
    box-shadow: 0.2em 0.2em 4px #11111171;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.star2 {
    gap: 5px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    height:40px;
    width: 95%;
    font-size: 13px;
}

.language2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    gap: 5px;
    margin-left: 400px;
}
/* Postagens Recentes */
.recentpostbox {
    height: 75px;
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 0.2em 0.2em 4px #11111171;
}
.posts {
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
}
/* Pefil Bottom */
.bottombox {
    display: flex;
    height: 200px;
    width: 95%;
    align-items: center;
    background-color: #302F3D;
    border-radius: 25px;
    box-shadow: 0.2em 0.2em 4px #11111171;
    gap: 15px;
}

.bbox {
    height: 180px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    line-height: 25px;
}

.photo {
    border-radius: 20px;
    margin-left: 20px;
    height: 140px;
    width: 140px;
    background-image: url(img/perfil\ degrade\ quadrado.png);
    background-position: center;
    background-size:cover;
}

.bboxtitulo {
    font-weight: 600;
}

.years {
    font-size: 14px;
}

.programas {
    word-spacing: px;
    margin-top: 15px;
    font-size: 16px;
}   

/* Fim...😎 */